body {
  background-color: #fafafa;
  font-family: Arial, Helvetica, sans-serif;
}

.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card {
  background: white;
  padding: 40px;
  width: 300px;
  border: 1px solid #dbdbdb;
  text-align: center;
}

.auth-card h2 {
  font-family: cursive;
  margin-bottom: 30px;
}

.auth-card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
}

.auth-card button {
  width: 100%;
  padding: 10px;
  background-color: #0095f6;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.auth-card button:hover {
  background-color: #1877f2;
}
.switch {
  margin-top: 20px;
  font-size: 14px;
}

.switch a {
  color: #0095f6;
  font-weight: 600;
  text-decoration: none;
  margin-left: 5px;
  cursor: pointer;
}

.switch a:hover {
  text-decoration: underline;
}
