.navbar{
  background:white;
  border-bottom:1px solid #dbdbdb;
  box-shadow:0 1px 3px rgba(0,0,0,0.05);
  position:sticky;
  top:0;
  z-index:1000;
}

.nav-container{
  max-width:900px;
  margin:auto;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px;
}

.logo{
  font-size:24px;
  font-weight:bold;
  font-family: 'Segoe UI', sans-serif;
}

.links a{
  margin-left:25px;
  text-decoration:none;
  color:#262626;
  font-weight:500;
  transition:0.2s;
  font-size:20px;
}

.links a:hover{
  color:#0095f6;
}
