<div class="post">

  <p>{{post.description}}</p>

  <div *ngFor="let media of post.media">
    <img
      [src]="'http://localhost:8083/posts/media/' + media.url.split('/').pop()"
      width="200">
  </div>

  <div class="post-actions">

    <button type="button" (click)="toggleLike()">
      <span *ngIf="!liked">🤍 Like</span>
      <span *ngIf="liked">❤️ Unlike</span>
    </button>

    <p>{{likesCount}} likes</p>

  </div>

  <hr>

  <div class="comments">

    <div *ngFor="let comment of comments">

      <div *ngIf="editingCommentId !== comment.id">
        <p>{{comment.text}}</p>

        <button type="button" (click)="startEdit(comment)">edit</button>
        <button type="button" (click)="deleteComment(+comment.id)">delete</button>
      </div>

      <div *ngIf="editingCommentId === comment.id">
        <input [(ngModel)]="editedText">
        <button type="button" (click)="saveEdit(comment)">Save</button>
      </div>

      <hr>

    </div>

    <input
      [(ngModel)]="commentText"
      placeholder="Add comment..."
    >

    <button type="button" (click)="addComment()">Post</button>

  </div>

</div>
