.post{
  width:500px;
  margin:40px auto;
  background:#fff;
  border:1px solid #ddd;
  border-radius:10px;
  box-shadow:0 4px 12px rgba(0,0,0,0.08);
  padding:16px;
  font-family: Arial, sans-serif;
}

.post-header{
  font-weight:600;
  margin-bottom:8px;
}

.post-description{
  margin-bottom:10px;
  font-size:14px;
}

.post-image{
  width:100%;
  border-radius:8px;
  margin-bottom:10px;
}

/* like + comment icons */

.post-actions{
  display:flex;
  gap:20px;
  font-size:15px;
  margin:8px 0;
}

.action{
  cursor:pointer;
}

.action:hover{
  color:#e1306c;
}

.comment{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:6px;
}

.comment-left{
  display:flex;
  gap:6px;
}

.comment-actions{
  display:flex;
  gap:6px;
}

.comment-actions button{
  border:none;
  background:none;
  font-size:12px;
  color:#888;
  cursor:pointer;
}

.comment-actions button:hover{
  color:black;
}
