<div class="post">

  <div class="post-header">
    <a [routerLink]="['/profile', post.userId]">
      User {{post.userId}}
    </a>
  </div>

  <p class="post-description">
    {{post.description}}
  </p>

  <div *ngIf="post.media?.length">
    <img
      *ngFor="let media of post.media"
      class="post-image"
      [src]="'http://localhost:8083/posts/media/' + media.url.split('/').pop()"
    >
  </div>

  <div class="post-actions">


    <span class="action like" (click)="toggleLike()">
  <span *ngIf="!liked">🤍</span>
  <span *ngIf="liked">❤️</span>
      {{likesCount}}
</span>

    <span class="action comment" (click)="toggleComments()">
  💬 {{comments.length}}
</span>


  </div>

  <hr>

  <div *ngIf="showComments" class="comments">


    <div *ngFor="let comment of comments" class="comment">

      <!-- NORMAL VIEW -->
      <ng-container *ngIf="editingCommentId !== comment.id">

    <span class="comment-left">
      <b>User {{comment.userId}}</b> {{comment.text}}
    </span>

        <span
          *ngIf="comment.userId === loggedUserId"
          class="comment-actions">

      <button type="button" (click)="startEdit(comment)">edit</button>
      <button type="button" (click)="deleteComment(comment.id)">delete</button>

    </span>

      </ng-container>

      <!-- EDIT MODE -->
      <ng-container *ngIf="editingCommentId === comment.id">

        <input
          [(ngModel)]="editedText"
          (keyup.enter)="saveEdit(comment); $event.preventDefault()"
          class="comment-input"
        />

      </ng-container>

    </div>

    <div class="add-comment">

      <input
        [(ngModel)]="commentText"
        (keyup.enter)="addComment()"
        placeholder="Add comment..."
        class="comment-input"
      >

    </div>


  </div>

</div>
